<div class="footerFixed">
  <%= render "shared/header" %>
  <div class="post-content-parent">
    <div class="post-content">
      <div class="left-content">
        <div class="title">
          <%# <%= link_to(
            '<<', 
            root_path(
              :year_spending => @prev_date_spending.year, 
              :month_spending => @prev_date_spending.month, 
              :year_income => @start_time_income.year, 
              :month_income => @start_time_income.month,
              :year_spending_graph => @start_time_graph.year, 
              :month_spending_graph => @start_time_graph.month), 
            class:"arrow-last-month") %>
            <% if @this_month == @start_time_spending.month %>
              <div style="border-bottom: 3px solid #20b2aa; color:gray;"><%= @this_month %>月の支出</div>
            <% else %>
              <%= @start_time_spending.month %>月の支出
            <% end %>
            <%# <%= link_to(
              '>>', 
              root_path(
                :year_spending => @next_date_spending.year, 
                :month_spending => @next_date_spending.month, 
                :year_income => @start_time_income.year, 
                :month_income => @start_time_income.month,
                :year_spending_graph => @start_time_graph.year, 
                :month_spending_graph => @start_time_graph.month),  
              class:"arrow-next-month", 
              id:"last-month-data-arrow") %>
        </div>
        <div class="post-list-content">
          <% @spendings_time.each do |spending| %>
            <ul class="post-list">
              <li class="post-list-data-date"><%= spending.date %></li>
              <ul>
                <li><%= link_to '詳細', spending_path(spending.id), class:"link_pass" %></li>
                <li><%= link_to '編集', edit_spending_path(spending.id), class:"link_pass" %></li>
                <li><%= link_to '削除', spending_path(spending.id), class:"link_pass", method: :delete %></li>
              </ul>
              <li class="post-list-data"><%= spending.category %></li>
              <li class="post-list-data"><%= image_tag 'money.png', size: '50x50' %>¥<%= spending.price %></li>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="center-content">
        <div class="title">
        <%# <%= link_to(
          '<<', 
          root_path(
            :year_income => @prev_date_income.year, 
            :month_income => @prev_date_income.month, 
            :year_spending => @start_time_spending.year, 
            :month_spending => @start_time_spending.month,
            :year_spending_graph => @start_time_graph.year, 
            :month_spending_graph => @start_time_graph.month),  
          class:"arrow-last-month") %>
          <% if @this_month == @start_time_income.month %>
            <div style="border-bottom: 3px solid #20b2aa; color:gray;"><%= @this_month %>月の収入</div>
          <% else %>
            <%= @start_time_income.month %>月の収入
          <% end %>
          <%# <%= link_to(
            '>>', 
            root_path(
              :year_income => @next_date_income.year, 
              :month_income => @next_date_income.month,
              :year_spending => @start_time_spending.year, 
              :month_spending => @start_time_spending.month,
              :year_spending_graph => @start_time_graph.year, 
              :month_spending_graph => @start_time_graph.month), 
            class:"arrow-next-month") %>
          </div>
          <div class="post-list-content">
            <% @incomes_time.each do |income| %>
              <ul class="post-list">
                <li class="post-list-data-date"><%= income.date %></li>
                <ul>
                  <li><%= link_to '詳細', income_path(income.id), class:"link_pass" %></li>
                  <li><%= link_to '編集', edit_income_path(income.id), class:"link_pass" %></li>
                  <li><%= link_to '削除', income_path(income.id), class:"link_pass", method: :delete %></li>
                </ul>
                <li class="post-list-data"><%= income.category %></li>
                <li class="post-list-data"><%= image_tag 'money.png', size: '50x50' %>¥<%= income.price %></li>
              </ul>
            <% end %>
          </div>
      </div>
      <div class="right-content">
        <div class="title">
        <%= link_to(
            '<<', 
            root_path(
              :year_spending_graph => @prev_date_spending_graph.year, 
              :month_spending_graph => @prev_date_spending_graph.month,
              :year_spending => @prev_date_spending.year, 
              :month_spending => @prev_date_spending.month, 
              :year_income => @prev_date_income.year, 
              :month_income => @prev_date_income.month),
            class:"arrow-last-month") %>
            <% if @this_month == @start_time_income.month %>
              <div style="border-bottom: 3px solid #20b2aa; color:gray;"><%= @this_month %>月のデータ</div>
            <% else %>
              <%= @start_time_income.month %>月のデータ
            <% end %>
            <%= link_to(
            '>>', 
            root_path(
              :year_spending_graph => @next_date_spending_graph.year, 
              :month_spending_graph => @next_date_spending_graph.month,
              :year_spending => @next_date_spending.year, 
              :month_spending => @next_date_spending.month, 
              :year_income => @next_date_income.year, 
              :month_income => @next_date_income.month),
            class:"arrow-next-month") %>
            </div>
          <div class="right-content-post">
            <div class="right-content-upper">
              <%= pie_chart @spending_data.group(:category).sum(:price), thousands: ",", width: "100%", height:"100%", class:"date-graph", library: {title: {text: "今月の支出 計 #{@this_month_spending_sum}円"}} %>
            </div>
            <div class="right-content-bottom">
              <div class="income-sum">
                <% if @this_month == @start_time_income.month %>
                  <span style="color:#20b2aa"><%= @this_month %>月の収入</span> <span style="color:#2078b2"> <%= @this_month_income_sum %>円</span>
                <% else %>
                  <%= @start_time_income.month %>月の収入 <span style="color:#2078b2"> <%= @this_month_income_sum %>円</span>
                <% end %>
              </div>
              <div class = "spending-sum">
                <% if @this_month == @start_time_income.month %>
                  <span style="color:#20b2aa"><%= @this_month %>月の支出</span> <span style="color:red">-<%= @this_month_spending_sum %>円</span>
                <% else %>
                  <%= @start_time_income.month %>月の支出 <span style="color:red"> -<%= @this_month_spending_sum %>円</span>
                <% end %>
              </div>
              <div class="expense-sum">
                <% if @this_month == @start_time_income.month %>
                  <% if @expense_sum.positive? %>
                    <span style="color:#20b2aa">収支 計</span><span style="color:#2078b2"> +<%= @expense_sum %>円</span>
                  <% elsif @expense_sum ==  0 %>
                    <span>収支 計</span><span> <%= @expense_sum %>円</span>
                  <% else %>
                    <span style="color:#20b2aa">収支 計</span><span style="color:red"> <%= @expense_sum %>円</span>
                  <% end %>
                <% else %>
                  <% if @expense_sum.positive? %>
                    <span>収支 計</span><span style="color:#2078b2"> +<%= @expense_sum %>円</span>
                  <% elsif @expense_sum ==  0 %>
                    <span>収支 計</span><span> <%= @expense_sum %>円</span>
                  <% else %>
                    <span>収支 計</span><span style="color:red"><%= @expense_sum %>円</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <%= render "shared/footer2" %>
</div>